.card_1{
    background-image: url("https://pschool.in/image2/animals/lion.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_2{
    background-image: url("https://pschool.in/image2/animals/horse.png");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_3{
    background-image: url("https://pschool.in/image2/animals/goat.png");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_4{
    background-image: url("https://pschool.in/image2/animals/cat.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_5{
    background-image: url("https://pschool.in/image2/animals/dog.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_6{
    background-image: url("https://pschool.in/image2/animals/rhino.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_7{
    background-image: url("https://pschool.in/image2/animals/tiger.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

.card_8{
    background-image: url("https://pschool.in/image2/animals/pig.png");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}
.card_9{
    background-image: url("https://pschool.in/image2/animals/sheep.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}
.card_10{
    background-image: url("https://pschool.in/image2/animals/zebra.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}
.card_11{
    background-image: url("https://pschool.in/image2/animals/monkey.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}
.card_12{
    background-image: url("https://pschool.in/image2/animals/elephant.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    width:100px;
    height: 100px;
    margin: 10px 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 12px black;
}

